body {
  background-color: springgreen;
}

header {
  background-image: url(https://coverfiles.alphacoders.com/373/37362.jpg);
  background-color: aqua;
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0px -5px;
  padding: 10px 0px;
}

nav  {
  background-color:  hsl(240, 100%, 50%);
  color: black;
  margin: 0px -5px;
  padding: 5px 0px;
}

nav ul {
  margin: -5px 0px;
  padding: 0px 10px;
  background-color:  hsl(240, 100%, 50%);
  color: black;
  /*background-color: red;*/
}

nav ul li {
  display: inline;
  padding: 0px 14px;
  margin: 5px -5px;
  background-color:  hsl(240, 100%, 50%);
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

nav ul li a{
  color: black;
}

nav ul li:hover {
  background-color: hsl(0, 0%, 35%);
}

main {
  display: flex;
  margin: 0px -5px;
  padding: 0px 0px;
}

.index {
  width: 10%;
  background-color: hsl(0, 0%, 35%);
}

.index ul {
  margin: 0px 0px;
  padding:5px 5px;
}

.index li {
  margin: 5px 0px;
  list-style-type: none;
  background-color: hsl(0, 0%, 65%);
  border-radius: 2px;
}

.content {
  width: 90%;
  background-color: hsl(0,0%,65%);
}


footer {
  background-color: black;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0px -5px;
  padding: 5px 0px;
}

.curr-tab {
  background-color:  hsl(220, 100%, 70%);
}
.index .curr-tab {
  background-color:  hsl(220, 100%, 70%);
}

th {
  text-transform: uppercase;
}
